<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.swp1sec">
    <!-- Samsung -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <!-- badge -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".Loding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".CertifyActivity" />
        <activity android:name=".TutorialActivity" />
        <activity android:name=".DayTrackerActivity" />
        <activity android:name=".MonthTrackerActivity" />
        <activity android:name=".CalendarListActivity" />
        <activity android:name=".CalendarListImActivity" />
        <activity android:name=".CalendarListCaActivity" />
        <activity android:name=".TodoListActivity" />
        <activity android:name=".TodoListImActivity" />
        <activity android:name=".TodoListCaActivity" />
        <activity android:name=".HabitListActivity" />
        <activity android:name=".DDayListActivity" />
        <activity android:name=".DDayListPActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".WeekRemind" />
        <activity android:name=".DayRemind" />

        <activity android:name=".CalendarView"/>
        <activity android:name=".CreateExercise" />
        <activity android:name=".CreateNormal" />
        <activity android:name=".Category" />
        <activity android:name=".WeekCalendar" />
        <activity android:name=".WeekCalendarF" />
        <activity android:name=".CreateHabit" />
        <activity android:name=".CreateSubject" />


        <activity android:name="com.example.swp1sec.add_dialog"
            android:theme="@style/addTheme"
            android:screenOrientation="fullSensor"/>
        <activity android:name="com.example.swp1sec.sb_dialog"
            android:theme="@style/sbTheme"
            android:screenOrientation="fullSensor"/>
        <activity android:name="com.example.swp1sec.exercise_dialog"
            android:theme="@style/exerciseTheme"
            android:screenOrientation="fullSensor"/>
        <activity android:name="com.example.swp1sec.normal_dialog"
            android:theme="@style/normalTheme"
            android:screenOrientation="fullSensor"/>
        <activity android:name="com.example.swp1sec.color_dialog"
            android:theme="@style/colorTheme"
            android:screenOrientation="fullSensor"/>
        <activity android:name="com.example.swp1sec.update_cate_dialog"
            android:theme="@style/addTheme"
            android:screenOrientation="fullSensor"/>
        <activity android:name="com.example.swp1sec.update_cate_exsb_dialog"
            android:theme="@style/addTheme"
            android:screenOrientation="fullSensor"/>
        <activity android:name="com.example.swp1sec.badge_dialog"
            android:theme="@style/addTheme"
            android:screenOrientation="fullSensor"/>
        <activity android:name="com.example.swp1sec.cate_dataview"
            android:theme="@style/addTheme"
            android:screenOrientation="fullSensor"/>
        <activity android:name="com.example.swp1sec.color_theme_dialog"
            android:theme="@style/addTheme"
            android:screenOrientation="fullSensor"/>


        <!--상점-->
        <activity android:name=".Store_main"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".t_r_PopupActivity"
            android:theme="@style/PopUpTheme"
            android:screenOrientation="fullSensor">
        </activity>

        <activity android:name=".t_c_PopupActivity"
            android:theme="@style/PopUpTheme"
            android:screenOrientation="fullSensor">
        </activity>

        <activity android:name=".p_r_PopupActivity"
            android:theme="@style/PopUpTheme"
            android:screenOrientation="fullSensor">
        </activity>

        <activity android:name=".p_c_PopUpActivity"
            android:theme="@style/PopUpTheme"
            android:screenOrientation="fullSensor">
        </activity>

        <activity android:name=".a_r_PopUpActivity"
            android:theme="@style/PopUpTheme"
            android:screenOrientation="fullSensor">
        </activity>

        <activity android:name=".a_c_PopUpActivity"
            android:theme="@style/PopUpTheme"
            android:screenOrientation="fullSensor">
        </activity>


        <receiver android:name="com.example.swp1sec.ScreenReceiver" />
        <service android:name="com.example.swp1sec.ScreenService" />
        <activity android:name="com.example.swp1sec.LockScreenActivity" />

    </application>

</manifest>